Repository bolticio/boltic-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: cd databases && eslint --fix, cd databases && prettier --write

.lintstagedrc.json:

{
    "databases/**/*.{ts,tsx}": [
        "cd databases && eslint --fix",
        "cd databases && prettier --write"
    ],
    "databases/**/*.{json,md}": [
        "cd databases && prettier --write"
    ]
}

BOLT-2790: Complete table operations stage
  databases/.claude/agents/table-operations-agent.md
  databases/Docs/guides/table-management.md
  databases/examples/basic/README.md
  databases/examples/basic/table-operations-demo.ts
  databases/examples/package-lock.json
  databases/examples/package.json
  databases/src/client/boltic-client.ts
  databases/src/client/index.ts
  databases/src/client/resources/table-builder.ts
  databases/src/client/resources/table.ts
  databases/src/errors/utils.ts
  databases/src/types/api/table.ts
  databases/src/utils/index.ts
  databases/src/utils/table/schema-helpers.ts
  databases/tests/unit/client/resources/table.test.ts
  databases/tests/unit/utils/table/schema-helpers.test.ts
Due: cd databases && eslint --fix, cd databases && prettier --write

BOLT-2790: Complete table operations stage
  databases/Docs/guides/table-management.md
  databases/examples/basic/README.md
  databases/examples/basic/table-operations-demo.ts
  databases/examples/package-lock.json
  databases/examples/package.json
  databases/src/client/boltic-client.ts
  databases/src/client/index.ts
  databases/src/client/resources/table-builder.ts
  databases/src/client/resources/table.ts
  databases/src/errors/utils.ts
  databases/src/types/api/table.ts
  databases/src/utils/index.ts
  databases/src/utils/table/schema-helpers.ts
  databases/tests/unit/client/resources/table.test.ts
  databases/tests/unit/utils/table/schema-helpers.test.ts
Due: cd databases && eslint --fix, cd databases && prettier --write

BOLT-2790: Integrate table operations with server
  databases/examples/basic/tables-api-demo.ts
  databases/examples/env.example
  databases/examples/package-lock.json
  databases/examples/package.json
  databases/src/api/clients/tables-api-client.ts
  databases/src/api/endpoints/tables.ts
  databases/src/api/transformers/tables.ts
  databases/src/client/boltic-client.ts
  databases/src/client/index.ts
  databases/src/client/resources/table-builder.ts
  databases/src/client/resources/table.ts
  databases/src/types/api/table.ts
  databases/src/utils/filters/filter-mapper.ts
  databases/src/utils/table/schema-helpers.ts
  databases/src/utils/validation/currency-validator.ts
  databases/tests/integration/tables-api-integration.test.ts
Due: cd databases && eslint --fix, cd databases && prettier --write

BOLT-2790: Integrate table operations with server
  databases/.claude/agents/api-integration-agent.md
  databases/.claude/agents/table-operations-agent.md
  databases/examples/basic/tables-api-demo.ts
  databases/examples/env.example
  databases/examples/package-lock.json
  databases/examples/package.json
  databases/src/api/clients/tables-api-client.ts
  databases/src/api/endpoints/tables.ts
  databases/src/api/transformers/tables.ts
  databases/src/client/boltic-client.ts
  databases/src/client/index.ts
  databases/src/client/resources/table-builder.ts
  databases/src/client/resources/table.ts
  databases/src/types/api/table.ts
  databases/src/utils/filters/filter-mapper.ts
  databases/src/utils/table/schema-helpers.ts
  databases/src/utils/validation/currency-validator.ts
  databases/tests/integration/tables-api-integration.test.ts
Due: cd databases && eslint --fix, cd databases && prettier --write

BOLT-2790: Integrate column operations with server
  databases/.claude/agents/api-integration-agent.md
  databases/.claude/agents/column-operations-agent.md
  databases/.eslintrc.js
  databases/Docs/Implementation.md
  databases/Docs/column-api-integration-summary.md
  databases/Docs/guides/column-operations.md
  databases/examples/basic/README.md
  databases/examples/basic/validate-columns.ts
  databases/examples/package.json
  databases/src/api/clients/columns-api-client.ts
  databases/src/api/clients/tables-api-client.ts
  databases/src/api/endpoints/columns.ts
  databases/src/api/index.ts
  databases/src/api/transformers/columns.ts
  databases/src/api/transformers/tables.ts
  databases/src/client/boltic-client.ts
  databases/src/client/resources/column-builder.ts
  databases/src/client/resources/column.ts
  databases/src/types/api/column.ts
  databases/src/types/api/table.ts
  databases/src/utils/column/helpers.ts
  databases/src/utils/validation/column-validator.ts
  databases/tests/integration/columns-api-integration.test.ts
  databases/tests/unit/client/resources/column.test.ts
Due: cd databases && eslint --fix, cd databases && prettier --write

BOLT-2790: Integrate column operations with server
  databases/.eslintrc.js
  databases/Docs/Implementation.md
  databases/Docs/column-api-integration-summary.md
  databases/Docs/guides/column-operations.md
  databases/examples/basic/README.md
  databases/examples/basic/validate-columns.ts
  databases/examples/package.json
  databases/src/api/clients/columns-api-client.ts
  databases/src/api/clients/tables-api-client.ts
  databases/src/api/endpoints/columns.ts
  databases/src/api/index.ts
  databases/src/api/transformers/columns.ts
  databases/src/api/transformers/tables.ts
  databases/src/client/boltic-client.ts
  databases/src/client/resources/column-builder.ts
  databases/src/client/resources/column.ts
  databases/src/types/api/column.ts
  databases/src/types/api/table.ts
  databases/src/utils/column/helpers.ts
  databases/src/utils/validation/column-validator.ts
  databases/tests/integration/columns-api-integration.test.ts
  databases/tests/unit/client/resources/column.test.ts
Due: cd databases && eslint --fix, cd databases && prettier --write

BOLT-2790: Remove redundant code
  databases/Docs/column-api-integration-summary.md
  databases/src/api/clients/tables-api-client.ts
  databases/src/client/resources/table.ts
  databases/src/utils/validation/currency-validator.ts
  databases/tests/integration/tables-api-integration.test.ts
Due: cd databases && eslint --fix, cd databases && prettier --write

BOLT-2790: Remove redundant code
  databases/.claude/agents/column-operations-agent.md
  databases/Docs/column-api-integration-summary.md
  databases/src/api/clients/tables-api-client.ts
  databases/src/client/resources/table.ts
  databases/src/utils/validation/currency-validator.ts
  databases/tests/integration/tables-api-integration.test.ts
Due: cd databases && eslint --fix, cd databases && prettier --write

BOLT-2790: Create demo for table and column operations
  databases/examples/basic/comprehensive-demo.ts
  databases/examples/package.json
  databases/src/client/resources/table.ts
  databases/src/utils/validation/column-validator.ts
  package.json
Due: cd databases && eslint --fix, cd databases && prettier --write

BOLT-2790: Build package
  .eslintrc.js
  .prettierignore
  .prettierrc
  LICENSE
  README.md
  databases/package-lock.json
  package-lock.json
  package.json
  scripts/build.js
  scripts/test-module-imports.js
  src/auth/auth-manager.ts
  src/auth/index.ts
  src/databases/index.ts
  src/errors/index.ts
  src/index.ts
  src/testing/index.ts
  src/types/auth.ts
  src/types/index.ts
  src/utils/index.ts
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: cd databases && prettier --write

BOLT-2790: Build package
  .eslintrc.js
  .prettierignore
  .prettierrc
  LICENSE
  README.md
  databases/.claude/agents/project-foundation-agent.md
  databases/package-lock.json
  package-lock.json
  package.json
  scripts/build.js
  scripts/test-module-imports.js
  src/auth/auth-manager.ts
  src/auth/index.ts
  src/databases/index.ts
  src/errors/index.ts
  src/index.ts
  src/testing/index.ts
  src/types/auth.ts
  src/types/index.ts
  src/utils/index.ts
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: cd databases && prettier --write

BOLT-2790: Change version
  package.json
Due: none

BOLT-2790: Test package build
  package-lock.json
  package.json
  src/index.ts
Due: none

BOLT-2790: Fix package build; remove table operation validations
  databases/.claude/agents/project-foundation-agent.md
  databases/.claude/agents/table-operations-agent.md
  databases/Docs/project_structure.md
  databases/src/cache/index.ts
  databases/src/client/resources/table.ts
  package-lock.json
  package.json
  scripts/build.js
  src/databases/index.ts
  src/databases/types.d.ts
  src/index.ts
  src/testing/index.ts
  src/utils/index.ts
  tsconfig.json
  vite.config.ts
Due: cd databases && eslint --fix, cd databases && prettier --write

BOLT-2790: Fix package build; remove table operation validations
  databases/Docs/project_structure.md
  databases/src/cache/index.ts
  databases/src/client/resources/table.ts
  package-lock.json
  package.json
  scripts/build.js
  src/databases/index.ts
  src/databases/types.d.ts
  src/index.ts
  src/testing/index.ts
  src/utils/index.ts
  tsconfig.json
  vite.config.ts
Due: cd databases && eslint --fix, cd databases && prettier --write

BOLT-2790: Update boltic client to accept region, not expose token, and restructure resources
  .gitignore
  README.md
  databases/src/client/boltic-client.ts
  databases/src/client/core/auth-manager.ts
  databases/src/client/core/base-client.ts
  databases/src/client/core/base-resource.ts
  databases/src/client/core/config.ts
  databases/src/client/index.ts
  databases/src/testing/test-client.ts
  databases/src/types/config/environment.ts
  package.json
Due: cd databases && eslint --fix, cd databases && prettier --write

BOLT-2790: Fix the database client
  src/services/databases/src/client/boltic-client.ts
Due: none

BOLT-2790: Complete record operations
  src/services/databases/examples/env.example
  src/services/databases/examples/package.json
  src/services/databases/src/api/clients/columns-api-client.ts
  src/services/databases/src/api/clients/records-api-client.ts
  src/services/databases/src/api/clients/tables-api-client.ts
  src/services/databases/src/api/endpoints/records.ts
  src/services/databases/src/api/index.ts
  src/services/databases/src/api/transformers/columns.ts
  src/services/databases/src/api/transformers/records.ts
  src/services/databases/src/api/transformers/tables.ts
  src/services/databases/src/client/boltic-client.ts
  src/services/databases/src/client/index.ts
  src/services/databases/src/client/resources/column.ts
  src/services/databases/src/client/resources/record-builder.ts
  src/services/databases/src/client/resources/record.ts
  src/services/databases/src/client/resources/table.ts
  src/services/databases/src/types/api/record.ts
  src/services/databases/src/types/common/operations.ts
  src/services/databases/src/types/index.ts
Due: none

BOLT-2790: Update agent instructions
  src/services/databases/Docs/Implementation.md
Due: none

BOLT-2790: Update agent instructions
  src/services/databases/.claude/agents/api-integration-agent.md
  src/services/databases/.claude/agents/column-operations-agent.md
  src/services/databases/.claude/agents/record-operations-agent.md
  src/services/databases/.claude/agents/table-operations-agent.md
  src/services/databases/Docs/Implementation.md
Due: none

BOLT-2790: Remove extra validations
  package.json
  src/services/databases/src/api/transformers/columns.ts
  src/services/databases/src/api/transformers/tables.ts
  src/services/databases/src/client/boltic-client.ts
  src/services/databases/src/client/resources/column.ts
  src/services/databases/src/utils/column/helpers.ts
  src/services/databases/src/utils/filters/filter-mapper.ts
  src/services/databases/src/utils/table/schema-helpers.ts
  src/services/databases/src/utils/validation/column-validator.ts
  src/services/databases/src/utils/validation/currency-validator.ts
Due: none

BOLT-2790: Update ReadME and add examples
  README.md
  src/services/databases/Docs/guides/table-management.md
  src/services/databases/Docs/project_structure.md
  src/services/databases/README.md
  src/services/databases/examples/basic/README.md
  src/services/databases/examples/basic/comprehensive-demo.ts
  src/services/databases/examples/basic/comprehensive-records-demo.ts
  src/services/databases/src/client/boltic-client.ts
Due: none

BOLT-2790: Remove console logs; add type definition; fix dropdown
  README.md
  package.json
  src/index.ts
  src/services/databases/Docs/guides/column-operations.md
  src/services/databases/README.md
  src/services/databases/examples/basic/comprehensive-demo.ts
  src/services/databases/package-lock.json
  src/services/databases/src/api/clients/columns-api-client.ts
  src/services/databases/src/api/transformers/columns.ts
  src/services/databases/src/api/transformers/tables.ts
  src/services/databases/src/client/resources/table-builder.ts
  src/services/databases/src/client/resources/table.ts
  src/services/databases/src/types/api/table.ts
  tsconfig.json
Due: none

BOLT-2790: Test publish v1.1.18
  README.md
  package.json
  src/services/databases/Docs/guides/column-operations.md
  src/services/databases/README.md
  src/services/databases/examples/basic/comprehensive-demo.ts
  src/services/databases/examples/basic/comprehensive-records-demo.ts
  src/services/databases/src/api/clients/columns-api-client.ts
  src/services/databases/src/api/clients/records-api-client.ts
  src/services/databases/src/api/clients/tables-api-client.ts
  src/services/databases/src/api/transformers/columns.ts
  src/services/databases/src/api/transformers/tables.ts
  src/services/databases/src/client/boltic-client.ts
  src/services/databases/src/client/core/base-resource.ts
  src/services/databases/src/client/resources/column-builder.ts
  src/services/databases/src/client/resources/column.ts
  src/services/databases/src/client/resources/record-builder.ts
  src/services/databases/src/client/resources/record.ts
  src/services/databases/src/client/resources/table-builder.ts
  src/services/databases/src/client/resources/table.ts
  src/services/databases/src/index.ts
  src/services/databases/src/types/common/responses.ts
  src/services/databases/src/utils/table/schema-helpers.ts
Due: none
